<div class="main-container">
    <div class="project-main">
        <div class="account-info">
            <div class="account-name">
                <h2>{{project.name}}</h2>
            </div>
            <div class="contact-info">

            </div>
        </div>

        <div class="project-asks">

        </div>

        <div class="tasks">
            <div class="to-do">

            </div>
            <div class="in-progress">

            </div>
            <div class="done">

            </div>
        </div>

    </div>
    <div class="comment-main">
        <div class="comment-logout-main">
            <div class="comment-text-area">
                <div class="text-area-actual">

                </div>
                <div class="text-submit">
                    <button class="comment-submit-btn">Submit</button>
                </div>
            </div>

            <div class="logout-back-main">
                <div class="logout">
                    <button class="logout-btn">Logout</button>
                </div>
                <div class="back-to-list">
                    <button class="back-to-list-btn">Back to List</button>
                </div>
            </div>
        </div>

        <div class="comment-feed">
            <p>
                {{project.comment}}
            </p>
        </div>

    </div>


</div>












    <p>Contact Info</p>
    <