<div>
    <h1 class="main-title">PMS...</h1>

    <h3>Project List</h3>

    <div class="project-box">

    </div>

    <div class="add-project">
        <button class="add-project-btn">+</button>
    </div>
</div>