:root {
    --lightgray: #eae7e2;
    --lightteal: #d7e2e8;
    --lightblue: #b9cbd9;
    --lightred: #fcc9c5;
    --lightpink: #feddd8;
    --lightgreen: #cfe3e2;
}

* {
    background-color: var(--lightgreen)
}

h1 {
    font-family: 'Mukta', sans-serif;   
    font-size: 5rem;
    text-align: center;
}

h3 {
    text-align: center;
    font-family: 'Mukta', sans-serif;  
    font-size: 3rem;
}

.login-link {
    font-size: 1.5rem;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.project-ask-item {
    display: flex;
    flex-direction: row;
}



.not-member {
    text-align: center;
}


.main-login-container {
    text-align: center;
}

.login-btn {
    margin: 1rem;
}

.btn {
    border-radius: 5%;
}

.project-asks-container {
    border: 3px solid black;
    margin: 2rem;
}

.back-to-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}

.back-to-list-btn {
    border-radius: 10%;
}

.comment-main-container {
    border: 3px solid black;
    margin: 2rem;
    width: 50%;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid black;    
}

.kanban {
    display: flex;
    flex-direction: row;
    border: 3px solid black;
    margin: 2rem;
}

.project-main {
    width: 50%;
}