:root {
    --lightgray: #eae7e2;
    --lightteal: #d7e2e8;
    --lightblue: #b9cbd9;
    --lightred: #fcc9c5;
    --lightpink: #feddd8;
    --lightgreen: #cfe3e2;
}

* {
    background-color: #eefcff;
}

h1 {
    font-family: 'Bakbak One', cursive;   
    font-size: 5rem;
    text-align: center;
}

h3 {
    text-align: center;
    font-family: 'Mukta', sans-serif;  
    font-size: 3rem;
}

.login-link {
    font-size: 1.5rem;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.project-ask-item {
    display: flex;
    flex-direction: row;
}



.not-member {
    text-align: center;
}


.main-login-container {
    text-align: center;
}

.login-btn {
    margin: 1rem;
}

.btn {
    border-radius: 5%;
}

.project-asks-container {
    border: 3px solid black;
    margin: 2rem;
    border-radius: 5px;
}

.back-to-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}

.back-to-list-btn {
    border-radius: 10px;
}

.comment-main-container {
    border: 3px solid black;
    border-radius: 5px;
    margin: 2rem;
    width: 50%;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid black;
    border-radius: 5px;
}

.kanban {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    border: 3px solid black;
    margin: 2rem;
    border-radius: 5px;
}

.project-main {
    width: 50%;
}

#delete-btn {
    border: solid 2px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 24px;
    padding: 10px;
    border-radius: 15px;
}

#project-id {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    border: solid 2px;
    width: 33%;
    height: 250px;
    font-size: 48px;
    text-align: center;
    margin: 0.5px;
    border-radius: 25px;
    background-color: #9fb7c5;
}

.project-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 24px;
    margin: 15px;
}

#new-project-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#project-name  {
    padding: 15px;
    font-size: 48px;
}

#project-title {
    font-size: 48px;
    background-color: #9fb7c5;
}

#project-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    background-color: #9fb7c5;
    color: #1F456E;
}

#project-title-container {
    background-color: #9fb7c5;
}

#btn-bg {
    background-color: #9fb7c5;
}

#create-project {
    border-radius: 10px;
    margin: 2px;
}

.form-input {
    background-color: white;
}

.login-form-grp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.signup-form-grp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#login-email-label {
    margin: 5px;
}

#email-login {
    margin: 5px;
}

#login-password-label {
    margin: 5px;
}

#signup-email-label {
    margin: 5px;
}

#email-signup {
    margin: 5px;
}

#signup-password-label {
    margin: 5px;
}

.section-title {
    margin: 5px;
}

.account-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
}

#client-email {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}

#client-phone {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}

#new-ask-title {
    width: 75%;
    resize: both;
}

#new-ask-name {
    margin: 2px;
}

#new-task-title {
    width: 90%;
    resize: both;
}

#new-task-name {
    margin: 2px;
}

.comment-form {
    width: 100%;
}

#new-comment-title {
    width: 90%;
    resize: both;
    min-height: 40px;
    line-height: 20px;
    overflow: hidden;
    border-radius: 10px;
}

.btn {
    border-radius: 10px;
}

.project-asks {
    margin: 8px;
}

.project-task-item {
    margin: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}