:root {
    --lightgray: #eae7e2;
    --lightteal: #d7e2e8;
    --lightblue: #b9cbd9;
    --lightred: #fcc9c5;
    --lightpink: #feddd8;
    --lightgreen: #cfe3e2;
}


/* Universal */
* {
    background-color: #4f99b8;
}


/* Headings */
h1 {
    font-family: 'Bakbak One', cursive;   
    font-size: 5rem;
    text-align: center;
}

h3 {
    text-align: center;
    font-family: 'Mukta', sans-serif;  
    font-size: 3rem;
}



.login-link {
    font-size: 1.5rem;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.project-ask-item {
    display: flex;
    flex-direction: row;
    background-color: #eefcff;
}


.not-member {
    text-align: center;
}


.main-login-container {
    text-align: center;
}

.login-btn {
    margin: 1rem;
}

.btn {
    border-radius: 5%;
}

.project-asks-container {
    border: 1px solid gray;
    margin: 2rem;
    border-radius: 5px;
    background-color: #eefcff;
}

.back-to-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}

.back-to-list-btn {
    border-radius: 10px;
}

.comment-main-container {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 2rem;
    width: 50%;
    background-color: #eefcff;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #eefcff;
}

.kanban {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid gray;
    margin: 2rem;
    border-radius: 5px;
    background-color: #eefcff;
}

.project-main {
    width: 50%;
    background-color: #eefcff;
}

#delete-btn {
    border: solid 2px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 24px;
    padding: 10px;
    border-radius: 15px;
}

#project-id {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    border: solid 2px;
    width: 33%;
    height: 250px;
    font-size: 48px;
    text-align: center;
    margin: 0.5px;
    border-radius: 25px;
    background-color: #8eccd8;
}

.project-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 24px;
    margin: 15px;
}

#new-project-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#project-name  {
    padding: 15px;
    font-size: 48px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #eefcff;
}

#project-title {
    font-size: 48px;
    background-color: #8eccd8;
}

/* #project.title:hover {

} */

#project-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    background-color: #8eccd8;
    color: #1F456E;
}

#project-title-container {
    background-color: #8eccd8;
}

#btn-bg {
    background-color: #8eccd8;
}

#create-project {
    border-radius: 10px;
    margin: 2px;
    color: #355c7d;
    background-color: #a0ced9;
    border: 1px solid black;
    font-weight: bold;
}

#create-project:hover {
    opacity: 0.5;
}

.form-input {
    background-color: white;
    margin: 1rem;
    border-radius: 10px;
}

.login-form-grp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.signup-form-grp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#login-email-label {
    margin: 5px;
}

#email-login {
    margin: 5px;
}

#login-password-label {
    margin: 5px;
}

#signup-email-label {
    margin: 5px;
}

#email-signup {
    margin: 5px;
}

#signup-password-label {
    margin: 5px;
}

.section-title {
    margin: 1rem;
    background-color: #eefcff;
}

.comment-title, .comment-form {
    background-color: #eefcff;
}

.account-info {
    display: flex;
    /* justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap; */
}

#client-email {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    background-color: #eefcff;
}

#client-phone {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    background-color: #eefcff;
}

#client-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    background-color: #eefcff;
}

#new-ask-title {
    width: 80%;
    resize: both;
}

/* #new-ask-form {
    display: flex;
    /* flex-direction: row;
} */

/* .form-group {
    background-color: #eefcff;
} */

#new-ask-name {
    margin: 2px;
    background-color: #eefcff;
}

#new-task-title {
    width: 80%;
    resize: both;
    background-color: #eefcff;
}

#new-task-name {
    margin: 2px;
}

.comment-form {
    width: 100%;
}

#new-comment-title {
    width: 80%;
    resize: both;
    min-height: 40px;
    line-height: 20px;
    overflow: hidden;
    border-radius: 10px;
}

.btn {
    border-radius: 10px;
}

.project-asks {
    margin: 8px;
}

#logout-btn-a {
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
    color: #355c7d;
    font-weight: bold;
    background-color: #a0ced9;
}

#logout-btn-a:hover {
    opacity: 0.5;
}

.btn-primary {
    background-color: #a0ced9;
    color: #355c7d;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid black;
}

.btn-primary:hover {
    opacity: 0.5;
    background-color: #809bce;
    color: #355c7d;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid black;
}

.comments {
    background-color: #eefcff;
}

#comment-item-desc {
    background-color: #eefcff;
}

ul {
    background-color: #eefcff;
}

li {
    background-color: #eefcff;
}

.contact-info {
    background-color: #eefcff;
}

.account-name {
    background-color: #eefcff;
}

.project-form-group {
    background-color: #eefcff;
}

.to-do-container {
    background-color: #eefcff;
}